@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --bg-color: #8886860c;
    --font-color: rgb(110, 109, 110);
}
*{
    margin: 0;
    box-sizing: border-box;
    
  }

.container{
    width: 100%;
    height: 100vh;
    display: flex;

}
.side_img{
    width: 35vw;
    height: 100vh;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;

.logo{
    width: 35vw;
    height: 25vh;
    background-color: rgba(247, 247, 247, 0.514);
    margin-top: 150px;
    display: flex;
    font-family: 'Roboto';
    img{
        height: 25vh;
        margin-left: 3.5vw;
    }
    span{
        font-size: 2.5rem;
        font-weight: 800;
        padding: 60px 0px 0px 10px;
    }
}
p{
    margin-top: 290px;
    font-size: 1.2rem;
    text-align: center;
    color: rgba(248, 248, 248, 0.856);
    font-weight: bolder;
    width: 35vw;
    background-color: rgba(12, 12, 12, 0.726);
}
}
.content{
    width: 65vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}
.info{
    width: 65vw;
    height: 30vh;
    background-color: var(--bg-color);

    p{
        font-size: 1.3rem;
        padding: 55px 100px 0px 40px;
        font-weight: 550;
        color: var(--font-color);
    }
}
#frm{
    width: 65vw;
    height: 40vh;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.1); 
    position: relative;
    z-index: 10;
    background-color: #f1f1f1e8;
    display: inline-block;
    font-size: 18px;

    p{
        font-size: 1.1rem;
        margin: 15px 40px;
        font-weight: 600;
    }
}
.frmContainer{
    display: flex;
    flex-direction: space-evenly;
    width: 40vw;
    margin-left: 40px;
    margin-bottom: 10px;
}
input{
    width: 250px;
    font-size: 18px;
    margin-right: 50px;
    border: 1px solid rgba(24, 24, 24, 0.349); 
}
.btns_holder{
    width: 65vw;    
    height: 30vh;
    background-color: var(--bg-color);

    button{
        width: 14vw;
        height: 8vh;
        font-weight: bold;
        font-size: 1.2vw;
        background-color: rgba(25, 78, 18, 0.904);
        border: none;
        border-radius: 10px;
        box-shadow: 7px 7px 7px 0px rgba(117, 117, 117, 0.13);
        color: rgb(255, 255, 255);
        margin: 30px 40px;
        cursor: pointer;
    }

    p{
        font-size: 1.1rem;
        margin-left: 40px;
    }
    a{
        font-weight: 600;
        text-decoration: none;
        color: rgba(25, 78, 18, 0.904);
    }
}